{{#if this.customFieldValue}}
  <div class="custom-field-display user-card-custom-field">
    <span class="custom-field-label">{{this.fieldLabel}}:</span>
    <span class="custom-field-value">{{this.customFieldValue}}</span>
  </div>
{{/if}}
