{{#if this.customFieldValue}}
  <div class="custom-field-display user-profile-custom-field">
    <div class="custom-field-container">
      <span class="custom-field-label">{{this.fieldLabel}}:</span>
      <span class="custom-field-value">{{this.customFieldValue}}</span>
    </div>
  </div>
{{/if}}
